extends layout

block content
  h1 #{bookInstance.book.title}: #{bookInstance.book.title}
  p= bookInstance.book.summary


  p Do you really want to delete this Book Instance?

  form(method='POST' action='')
    div.form-group
      input#bookInstanceid.form-control(type='hidden',name='bookInstanceid', required='true', value=bookInstance._id )

    button.btn.btn-primary(type='submit') Delete

